{% extends 'base.html' %}
{% block content %}

<h1>About SneakerHEADz</h1>
<hr />
<h5>"Connecting sneakerheads, one step at a time..."</h5>

<div class="flex-container">
    <div class="aboutimg" style="width:50%;margin-top:10px;">
        <img src="https://i.imgur.com/Fnj0Dqs.png">

    </div>
    <p class="abouttext">SneakerHEADz is an app designed to allow shoe enthusiasts to add and view their collection of
        sneakers. Whether it's to show the some drip or trade for chip, SneakerHEADz is the community to be in!
        <br>
        <br>
        Soon you will be able to message and trade with other collectors!
    </p>

</div>


{% endblock %}