{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SneakerHEADz</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <nav>
            <div>
                <ul>
                    <li><a class="logo" href="/">SneakerHEADz</a></li>
                </ul>
                <ul>
                    <li><a href="{% url 'about' %}">About</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'sneakers_create' %}">Add a Pair</a></li>
                    <li><a href="{% url 'index' %}">View My Collection</a></li>
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                    {% else %}
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    <img class="header-img" src="https://i.imgur.com/vB5eqa6.png">
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <div>All Rights Reserved, &copy; 2020 ABC Devs &nbsp;</div>
    </footer>
</body>

</html>