body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
    margin-left: 10px;
    margin-right: 20px;
    /*background-image: url("https://i.imgur.com/Fnj0Dqs.png");*/
  }

  .logo {
    font-family: 'Alfa Slab One', cursive;
    font-size: 30px;
  }

  h1 {
    display: flex;
    font-family: 'Alfa Slab One', cursive;
    font-size: 50px;
    color: #FF5722;
  }

  nav {
    background-color: #FF5722;
  }

  footer {
    display: flex;
    justify-content: center;
  }

  a {
    color: black;
  }

  p {
    color: blue;
  }

  .card .card-content {
    padding: 24px;
    border-radius: 0 0 2px 2px;
    background-color: #F5F5F5;
}

  .header-img {
    width: 100%;
    height: auto;
  }

  /*@media screen and ( max-width: 1024px ) {
    img.header-img { width: 100%; }
  }
  @media screen and ( min-width: 1025px) {
    img.header-img { width: 920px;}
  }
    img.header-img { height: auto; }*/

    .btn {
      background-color: blue;
    }

    .black-text {
      color: black;
    }

    .flex-container {
      display: -webkit-flex; /* Safari */		
      display: flex; /* Standard syntax */
    }
    
    .flex-container .aboutimg {
      display: flexbox;
      background: #dbdfe5;
      width: 100%;
      /*-webkit-flex: 1; /* Safari */
      /*-ms-flex: 1; /* IE 10 */
      /*flex: 1; /* Standard syntax */
    }

    .flex-container .abouttext {
      background: #ebebeb;
      width: 50%;
      margin-left: 10px;
    }